<%- include("partials/header") -%>

<body>
    <div id="heading">
        <h1><%= listTitle %></h1>
    </div>
    <div class="box">
        <ul>
            </li>
            <% itemList.forEach(item => { %>
                <form action="/delete" method="POST">
                    <div class='item'>
                        <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
                        <p> <%= item.name %> </p>
                        <input type="hidden" name="list" value="<%= listTitle %>">
                    </div>
                </form>
            <% }) %>
            <li>
        </ul>
        <form class="submit" action="/" method="POST">
            <input type="text" name="listItem" placeholder="new item" autocomplete="off">
            <button class='button' type='submit' name='list' value='<%= listTitle %>'>+</button>
        </form>
    </div>
</body>

<%- include("partials/footer") -%>